* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  color: #2f3741;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #184f54;
  padding: 0 10px;
}

a {
  float: left;
  padding: 8px 10px;
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: #20272c;
  background-color: #35b9ab;
}

section {
  margin: 54px 20px 20px 20px;
}

input {
  margin-bottom: 20px;
}

table,
th,
td {
  white-space: pre;
  font-family: monospace;
  border: 1px solid #bbb;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}
